.profile__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 336px;
}

@media screen and (max-width: 768px) {
    .profile__user {
        max-width: 100%;
        justify-content: center;
        padding-top: 22.25px;
        padding-left: 0;
    }
}