.profile__edit-button {
    background-image: url(../../../images/ediitbutton.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    outline: none;
    background-color: black;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 620px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: cover;
    }

}