.location {
    box-sizing: border-box;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .location {
     margin-right: 0;
    }
}