.profile {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

@media screen and (max-width: 320px) {
    .profile {
        padding: 0 19px 0;
        display: flex;
        flex-direction: column;
    }
}