.profile {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 19px 0;
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 38.25px 19px 0;
        flex-direction: column;
    }
}