.popup__button {
    width: 100%;
    margin-top: 48px;
    max-width: 358px;
    max-height: 50px;
    font-size: 18px;
    line-height: 21.78px;
    text-decoration: none;
    padding: 23px 20px;
    color: #FFFFFF;
    background:  #000000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.popup__button:hover {
    opacity: 0.8;
}
