.profile__subtitle {
    padding-top: 16px;
    font-size: 16px;
    line-height: 21.78px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        padding-top: 14px;
        font-size: 14px;
        line-height: 16.94px;
    }
}