.profile__title {
    margin: 0;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    color: #FFFFFF;
    padding-right: 18px;
    text-overflow: ellipsis;
    max-width: 294px;
    overflow: hidden;
    white-space: nowrap; 
}

@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        line-height: 32.68px;
        text-align: center;
    }
}