.locations__row {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    margin-right: -17px;
}

@media screen and (max-width: 320px) {
    .locations__row {
        margin-right: 0;
        grid-template-columns: repeat(1, auto);
    }
}