.locations__row {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - (17px * 2 / 3)));
    gap: 17px;
}

@media screen and (max-width: 620px) {
    .locations__row {
        margin-right: 0;
        grid-template-columns: repeat(1, auto);
        gap: 0;
    }
}