.popup__close {
    background: transparent url(../../../images/close.svg) no-repeat;
    background-size: contain;
    padding: 0;
    border: 0;
    outline: none;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}