.location__like {
    padding: 0;
    background-image: url(../../../images/like.svg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
}
.location__like:hover {
    opacity: 0.5;
}

.location__like:active {
    background-image: url(../../../images/Union.png);
    opacity: 1;
    
}

